@using PartialViews.ViewModels
@{
    ViewData["Title"] = "Home Page";
    ViewData["index"] = "0";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover caption-top">
    <caption>Partial view discovery examples</caption>
    <thead>
        <tr>
            <th>Syntax</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <code>
                    @Html.Raw(Html.Encode(@"<partial name=""_AuthorPartial"" />"))
                </code>
                <br>
                <span class="badge bg-secondary">2.1+</span>
            </td>
            <td>
                <!--通过标签呈现partial内容. 异步方式呈现. -->
                <partial name="_AuthorPartial" />
                <!-- </snippet_PartialTagHelper> -->
            </td>
        </tr>
        <tr>
            <td>
                <code>
                    @Html.Raw(Html.Encode(@"<partial name=""_AuthorPartial.cshtml"" />"))
                </code>
                <br>
                <span class="badge bg-secondary">2.1+</span>
            </td>
            <td>
                <!--通过标签呈现partial内容.添加后缀.必须和View在同一个文件夹下面,异步方式呈现. -->
                <partial name="_AuthorPartial.cshtml" />
            </td>
        </tr>
        <tr>
            <td>
                <code>@Html.Raw(Html.Encode(@"<partial name=""~/Views/Home/_AuthorPartial.cshtml"" />"))</code>
                <br />
                <span class="badge bg-secondary">2.1+</span>
            </td>
            <td>
                <!--通过标签呈现partial内容.从根目录下面查找partial视图-->
                <partial name="~/Views/Home/_AuthorPartial.cshtml" />
            </td>
        </tr>
        <tr>
            <td>
                <code>@Html.Raw(Html.Encode(@"<partial name=""/Views/Home/_AuthorPartial.cshtml"" />"))</code>
                <br />
                <span class="badge bg-secondary">2.1+</span>
            </td>
            <td>
                <!--通过标签呈现partial内容.从根目录下面查找partial视图-->
                <partial name="/Views/Home/_AuthorPartial.cshtml"></partial>
            </td>
        </tr>
        <tr>
            <td>
                <code>@Html.Raw(Html.Encode(@"<partial name=""../Articles/_ArticleSection.cshtml"" model='new ArticleSection{ Title=""Section 1"", Content=""Coming soon"" }' view-data=""ViewData""/>"))</code>
                <br />
                <span class="badge bg-secondary">2.1+</span>
            </td>
            <td>
                <!--使用相对路径来呈现partial-->
                <partial name="../Articles/_ArticleSection.cshtml" model='new ArticleSection{ Title="Section 1", Content="Coming soon" }' view-data="ViewData" />
            </td>
        </tr>
        <tr>
            <td>
                <code>@Html.Raw(Html.Encode(@"@await Html.PartialAsync(""_PartialName"")"))</code>
                <br />
                <span class="badge bg-secondary">2.1+</span>
            </td>
            <td>
                <!--呈现方式-->
                @await Html.PartialAsync("_AuthorPartial")
            </td>
        </tr>
        <tr>
            <td>
                <code>@Html.Raw(Html.Encode(@"@await Html.PartialAsync(""_AuthorPartial.cshtml"")"))</code>
                <br />
                <span class="badge bg-secondary">2.1+</span>
            </td>
            <td>
                @await Html.PartialAsync("_AuthorPartial.cshtml")
            </td>
        </tr>
        <tr>
            <td>
                <code>@Html.Raw(Html.Encode(@"@await Html.PartialAsync(""~/Views/Home/_AuthorPartial.cshtml"")"))</code>
                <br />
                <span class="badge bg-secondary">2.1+</span>
            </td>
            <td>
                @await Html.PartialAsync("~/Views/Home/_AuthorPartial.cshtml")
            </td>
        </tr>
        <tr>
            <td>
                <code>@Html.Raw(Html.Encode(@"@await Html.PartialAsync(""/Views/Home/_AuthorPartial.cshtml"")"))</code>
                <br />
                <span class="badge bg-secondary">2.1+</span>
            </td>
            <td>
                @await Html.PartialAsync("/Views/Home/_AuthorPartial.cshtml")
            </td>
        </tr>
        <tr>
            <td>
                <code>@Html.Raw(Html.Encode(@"@await Html.PartialAsync(""../Articles/_ArticleSection.cshtml"",new ArticleSection{ Title=""Section 1"", Content=""Coming soon"" },ViewData)"))</code>
                <br />
                <span class="badge bg-secondary">2.1+</span>
            </td>
            <td>
                @await Html.PartialAsync("../Articles/_ArticleSection.cshtml",new ArticleSection{ Title="Section 1", Content="Coming soon" },ViewData)
            </td>
        </tr>
    </tbody>
</table>
