<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCore.BuiltInTagHelpers</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    @*7.1 asp-src-include例子  *@

    @*<link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*.js" />
    <script asp-src-include="lib/bootstrap/**/*bundle.js"></script>*@

    @*7.2 asp-src-exclude例子 *@

    @* <script asp-src-include="/lib/bootstrap/**/b*.js"
    asp-src-exclude="**.slim.*,**.min.*,**.bundle.*"></script>
    *@

    @*7.3 Busting asp-fragment Attribute*@

    @*  <script asp-src-include="/lib/bootstrap/**/b*.js"
    asp-src-exclude="**.slim.*,**.min.*,**.bundle.*"
    asp-append-version="true">
    </script>*@

    @*8 CDN帮助标签 *@
  @*  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"
            asp-fallback-src-include="/lib/jquery/**/*.min.js"
            asp-fallback-src-exclude="**.slim.**"
            asp-fallback-test="window.jQuery">
    </script>
*@
    @*9.1 asp-href-include例子*@
   @* <link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*min.css" />*@

    @*9.2 asp-href-include例子*@

    @*<link rel="stylesheet"
          asp-href-include="/lib/bootstrap/**/*min.css"
          asp-href-exclude="**/*reboot*,**/*grid*,**/*rtl*,**/*utilities*" />*@

    @* 10 从CDN加载CSS*@
   @* <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          asp-fallback-href-include="/lib/bootstrap/**/*.min.css"
          asp-fallback-href-exclude="**/*reboot*,**/*grid*"
          asp-fallback-test-class="btn" asp-fallback-test-property="display"
          asp-fallback-test-value="inline-block" rel="stylesheet" />*@


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AspNetCore.BuiltInTagHelpers</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="bg-info text-warning">
                @*5.1 expires-after="@TimeSpan.FromSeconds(20)" 20秒之后缓存将失效 *@
                @*5.2 expires-on="@DateTime.Parse("2050-01-01")" 直到2025年过期 *@
                @*5.3 expires-sliding="@TimeSpan.FromSeconds(20)" 这个缓存将在距离上次使用的20s后过期 *@
                <cache expires-sliding="@TimeSpan.FromSeconds(20)" vary-by="@ViewContext.RouteData.Values["action"]">
                    Date Time: @DateTime.Now.ToString("HH:mm:ss")
                </cache>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AspNetCore.BuiltInTagHelpers - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
