@model JobApplication
@{
    Layout = "_Layout";
    ViewData["Title"] = "接受";
}
<h2>接受</h2>
<table class="table table-bordered">
    <tr>
        <th>姓名:</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>出生日期:</th>
        <td>@Model.DOB.ToString("d")</td>
    </tr>
    <tr>
        <th>性别:</th>
        <td>@Model.Sex</td>
    </tr>
    <tr>
        <th>工作经验:</th>
        <td>@Model.Experience</td>
    </tr>
    <tr>
        <th>条款:</th>
        <td>@Model.TermsAccepted</td>
    </tr>
</table>
<a class="btn btn-success" asp-action="Index">返回</a>