<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UnderstandingControllersViews</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="City" asp-action="Tokyo">Tokyo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="City" asp-action="Nagoya">Nagoya</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="CallSharedView">Shared View</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Example" asp-action="CallSharedView">Shared View</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Admin" asp-action="List">Search View</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Sales" asp-controller="Admin" asp-action="List">Area View</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="p-3 mb-2 border border-info">
        @await Component.InvokeAsync("Cart",new {showCart=false})

        @await Component.InvokeAsync("PageSize")
    </div>
    @RenderSection("Top",false);
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @RenderSection("Bottom",false)
    @RenderSection("Ads",false);
    @RenderSection("Script",false)
    <footer class="border-top footer text-muted">
        <div class="container">
            ASP.NET Core Site
        </div>
    </footer>
</body>
</html>