@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "用户列表";
}
<div class="container">
    <div class="row mb-4">
        <div class="col text-end">
            <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-lg"></i> 新增角色</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover table-bordered align-middle radius">
                <thead class="table-gray">
                    <tr>
                        <th scope="col">编号</th>
                        <th scope="col">名称</th>
                        <th scope="col">邮件</th>
                        <th scope="col">年龄</th>
                        <th scope="col">国家</th>
                        <th scope="col">薪水</th>
                        <th scope="col">操作</th>
                        <th scope="col">删除</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AppUser user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.Age</td>
                            <td>@user.Country</td>
                            <td>@user.Salary</td>
                            <td>
                                <a class="btn btn-sm btn-warning" asp-action="Update" asp-route-id="@user.Id">
                                    <i class="bi bi-pencil-square"></i> 编辑
                                </a>
                            </td>
                            <td>
                                <form method="post" asp-action="Delete" asp-route-id="@user.Id" role="form"
                                          onsubmit="return confirm('确定要删除该用户吗？');">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="bi bi-trash"></i> 删除
                                        </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>