@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div class="mb-3 row">
    <div class="col-sm-2">​
        <label class="control-label">Language:</label>
    </div>
    <div class="col-sm-10">
        <select onchange="SetCulture(this.value)" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
        </select>
    </div>
</div>
@model JobApplication
<h2>@Localizer["Job Application"]</h2>
<h3 class="alert-danger">@ViewBag.Message</h3>
<div asp-validation-summary="All" class="text-danger"></div>
@{
    string culture = "", uiculture = "";
    if (Context.Request.QueryString.HasValue)
    {
        string url = Context.Request.QueryString.Value;
        culture = Context.Request.Query["culture"];
        uiculture = Context.Request.Query["ui-culture"];
    }
}
<form class="m-1 p-1" asp-action="Index" asp-route-culture="@culture" asp-route-ui-culture="@uiculture" method="post">
    <div class="mb-3 row">
        <div class="col-sm-2">
            <label asp-for="Name" class="control-label"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2">
            <label asp-for="DOB" class="control-label"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="DOB" type="text" asp-format="{0:d}" class="form-control" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2">
            <label asp-for="Sex" class="control-label"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="Sex" type="radio" value="M" />@Localizer["Male"]
            <input asp-for="Sex" type="radio" value="F" />@Localizer["Female"]
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2">
            <label asp-for="Experience" class="control-label"></label>
        </div>
        <div class="col-sm-10">
        <select asp-for="Experience" class="form-control">
            <option value="Select">@Localizer["Select"]</option>
            <option value="0">Fresher</option>
            <option value="1">0-1 years</option>
            <option value="2">1-2 years</option>
            <option value="3">2-3 years</option>
            <option value="4">3-4 years</option>
            <option value="5">4-5 years</option>
        </select>
        <span asp-validation-for="Experience" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
            <input asp-for="TermsAccepted" />
            <label asp-for="TermsAccepted" class="form-check-label">
                @Localizer["I accept the terms & conditions"]
            </label>
            <span asp-validation-for="TermsAccepted" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
            <button name="formsubmit" value="Button Control" type="submit" class="btn btn-primary">@Localizer["Submit Application"]</button>
        </div>
    </div>
</form>
<script>
    function SetCulture(selectedValue) {
        var url = window.location.href.split('?')[0];
        var culture = "?culture=" + selectedValue + "&ui-culture=" + selectedValue;
        window.location.href = url + culture;
    }
</script>
